{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias":
          {
            "~": "./src"
          }
        ,
        "stripExtensions": [
          ".js",
          ".jsx"
        ]
      },
      "babel-plugin-styled-components"
    ]
  ]
}
