<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>612420222868-5obh40i9h0hc7fkm4397csdpose02im9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.612420222868-5obh40i9h0hc7fkm4397csdpose02im9</string>
	<key>API_KEY</key>
	<string>AIzaSyBYiZYIV4kQepEPZc0NzJXoGooARDNU9n0</string>
	<key>GCM_SENDER_ID</key>
	<string>401701609820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.aic.english4school</string>
	<key>PROJECT_ID</key>
	<string>englishforschool</string>
	<key>STORAGE_BUCKET</key>
	<string>englishforschool.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:401701609820:ios:e1c24a9aca086a1111e199</string>
	<key>DATABASE_URL</key>
	<string>https://englishforschool.firebaseio.com</string>
</dict>
</plist>
