<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>589397194208-r934tgfv19qhge8ha5d61s54nnhird3b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.589397194208-r934tgfv19qhge8ha5d61s54nnhird3b</string>
	<key>API_KEY</key>
	<string>AIzaSyCozk1h8zH8gw6g35Cs-pBWBddG6C3wsxY</string>
	<key>GCM_SENDER_ID</key>
	<string>589397194208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dolphin.pocket</string>
	<key>PROJECT_ID</key>
	<string>pocket-app-2fcf2</string>
	<key>STORAGE_BUCKET</key>
	<string>pocket-app-2fcf2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589397194208:ios:e32cc2feaf5700fd69e785</string>
</dict>
</plist>